//Информация о процессе обучения (две колонки)

div.row-flex.study-stages-wrapper
	//Левая колонка
	div.col-6
		//Пункт обучения
		div.stage-block.clear
			//Номер
			div.stage-num 1.
			div.stage-text
				//Заголовок
				div.stage-header Собеседование с 
					a(href="#") управляющим 
					|и
					a(href="#") главным врачом 
					|клиники
				//Краткое описание
				div.textblock Самый часто задаваемый вопрос на таких собеседованиях: «Почему вы решили стать врачом», а самый частый ответ: «Хотел сначала в театральный, но не взяли». Наши врачи — тонкие творческие натуры.
		//Пункт обучения
		div.stage-block.clear
			div.stage-num 2.
			div.stage-text
				div.stage-header Презентационное лечение в фантомном классе (проводится на фантомной конструкции в режиме онлайн-контроля со стороны профильного специалиста)
				div.textblock Фантомный класс — это обычный кабинет, только с камерами наблюдения. В презентационном лечении участвует профессиональный пациент, наш сотрудник.
		//Пункт обучения
		div.stage-block.clear
			div.stage-num 3.
			div.stage-text
				div.stage-header Дополнительное обучение в рамках программы «SSTart для новых специалистов» (обучение на базе  
					a(href="#") «Центра инновационного образования «САДКО»
					|, теоретические и практические занятия с разбором клинических примеров )
	//Правая колонка
	div.col-6
		//Пункт обучения
		div.stage-block.clear
			div.stage-num 4.
			div.stage-text
				div.stage-header Контрольный практический экзамен на предполагаемом рабочем месте
				div.textblock Реальный прием реального пациента. Проводится под контролем ведущего специалиста, который фиксирует все неточности в работе врача. Как правило, первый прием — консультация. После экзамена принимается решение о зачислении в штат.
		//Пункт обучения
		div.stage-block.clear
			div.stage-num 5.
			div.stage-text
				div.stage-header Первый рабочий день 
				div.textblock Постарайтесь попасть на прием к новому доктору. В первый день работы, наши творческие натуры стараются проявить себя как можно лучше.
		//Пункт обучения
		div.stage-block.clear
			div.stage-num 6.
			div.stage-text
				div.stage-header Стажировка и практика в России и за рубежом

h3.photo-gallery-header Фотогалерея
	
div.photo-slider
	div.photo-block.link-block
		a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
			img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
		div.textblock Первый рабочий день стоматолога-терапевта 
			a(href="#") А.В. Ковалёвой
	div.photo-block.link-block
		a.image-link(href="#{srcPath}img/doctor-gallery/doctor-gallery.jpg")
			img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
		div.textblock Управляющий сормовским филиалом на собеседовании
	div.photo-block.link-block
		a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
			img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
		div.textblock Лекция перед экзаменом по эстетической стоматологии
	div.photo-block.link-block
		a.image-link(href="#{srcPath}img/doctor-gallery/doctor-gallery.jpg")
			img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
		div.textblock Фантомный класс в отделении стоматологии
	div.photo-block.link-block
		a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
			img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
		div.textblock Первый рабочий день стоматолога-терапевта 
			a(href="#") А.В. Ковалёвой