//Эти блоки показываем
div.doctor-wrappers-visible
	//Строка на 4 блока обычных докторов
	div.row-flex.doctors-wrapper
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Иван Жмак')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Иван Жмак
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Буяло" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Буяло.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед
								li Стоматолог-терапевт
								li Стоматолог-стоматолог

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Константинопольский Константин Константинович')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Константинопольскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Константинопольскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Константинопольский Константин Константинович
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации
						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

//Эти блоки по умолчанию скрыты
div.doctor-wrappers-hidden.-dn-
	//Строка на 4 блока обычных докторов
	div.row-flex.doctors-wrapper
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Иван Жмак')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Иван Жмак
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									
						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Буяло" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Буяло.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед
								li Стоматолог-терапевт
								li Стоматолог-стоматолог

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Константинопольский Константин Константинович')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Константинопольскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Константинопольскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Константинопольский Константин Константинович
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации
						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

	//Строка на 4 блока обычных докторов
	div.row-flex.doctors-wrapper
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Иван Жмак')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Иван Жмак
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									
						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Буяло" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Буяло.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед
								li Стоматолог-терапевт
								li Стоматолог-стоматолог

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Константинопольский Константин Константинович')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Константинопольскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Константинопольскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Константинопольский Константин Константинович
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации
						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

//Эти блоки по умолчанию скрыты
div.doctor-wrappers-hidden.-dn-
	//Строка на 4 блока обычных докторов
	div.row-flex.doctors-wrapper
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Иван Жмак')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Иван Жмак
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									
						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Буяло" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Буяло.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед
								li Стоматолог-терапевт
								li Стоматолог-стоматолог

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Константинопольский Константин Константинович')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Константинопольскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Константинопольскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Константинопольский Константин Константинович
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации
						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

	//Строка на 4 блока обычных докторов
	div.row-flex.doctors-wrapper
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Покровскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Покровскому.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Иван Жмак')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Иван Жмак
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									
						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычных доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Буяло" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Буяло.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Покровский Михаил Юрьевич
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							ul.doctor-special-list
								li 
									b Главный врач
								li Стоматолог-ортопед
								li Стоматолог-терапевт
								li Стоматолог-стоматолог

						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен
		//Блок одного обычного доктора
		div.col-3
			div.doctor-block.normal-doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Константинопольский Константин Константинович')

				//Блок с описанием
				div.about-doctor-wrapper
					//Кнопки
					div.button-wrapper
						a.button.open-video(href='http://vimeo.com/9532951')
							div.button-block.video
								i.icon
						a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Константинопольскому" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Константинопольскому.") 
							div.button-block.book
								i.icon
								span.book-text Записаться
					//О докторе
					div.about-doctor
						//Обёртка для скролла
						div.doctor-scroll-wrapper
							//Имя
							div.doctor-name
								a(href="#") Константинопольский Константин Константинович
							//Кнопки
							div.button-wrapper.-dn-
								a.button.open-video(href='http://vimeo.com/9532951')
									div.button-block.video
										i.icon
								a.button.book-toggle(href="#" data-book-info="Записаться на приём к доктору Ивану" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к доктору Ивану.") 
									div.button-block.book
										i.icon
										span.book-text Записаться
							//Список специализаций
							div.doctor-special-list-wrapper
								ul.doctor-special-list
									li 
										b Главный врач
									li Стоматолог-ортопед
									li Акушер-терапевт, ведение беременности пони  
								//Скрытый блок специальностей
								ul.doctor-special-list.doctor-special-hidden-list
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт
									li Стоматолог-ортопед
									li Стоматолог-терапевт

						a.more-doctor-special.blue-link(href="#" data-opened-text="Свернуть") Другие специализации
						//Этот блок прижат к низу
						div.bottom-block
							//Эксперты
							div.doctor-experts-wrapper
								div.flags
									img.show-text(src='#{srcPath}img/icons/jamaica.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/romania.png'  data-text="")
									img.show-text(src='#{srcPath}img/icons/croatia.png'  data-text="")
							//Стаж работы
							div.work-stage.textblock 
								| <b>Стаж работы:</b>
								br
								| <i>15 лет</i>
							//Приз
							//div.show-prize
								div.-dn-
									p Победитель XI всероссийского чемпионата стоматологического мастерства по дентальной имплантологии
									p Победитель XIX международного конкурса среди практикующих стоматологов-имплантологов, г.Мюнхен

//Кнопка "Показать ещё" - здесь по нажатию просто открываем скрытых врачей
div.clinic-tiles--hide-toggle.more-doctors
	a.-pseudo-.-link-wrap-.open-hidden-doctors(href='#')
		span.spoiler-toggle Показать ещё