div.doctor-articles

	div.row-flex.articles-wrapper

		//Тут две колонки - в одной блоки-ссылки на статьи, вторая колонка - баннер
		div.col-9
			//Строка на три блока-статьи
			div.row-flex
				//Блок одной статьи
				div.col-4.article-block
					//Тут фотография, заголовок, краткое описание и теги
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Что вам угрожает в кабинете у стоматолога
					div.textblock Современные врачи-стоматологи относятся тщательно к дезинфекции своих кабинетов и инструментов
					div.tags-wrapper
						a(href="#") стоматология,
						a(href="#") другое
				//Блок одной статьи
				div.col-4.article-block
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Мои бессонные ночи, или как уснуть без овец
					div.textblock А кто вы по национальности сна? Ученые провели исследование и выяснили, что время и место сна отличается у жителей разных стран
					div.tags-wrapper
						a(href="#") дримология
				//Блок одной статьи
				div.col-4.article-block
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Диеты и женское здоровье: профессиональный подход
					div.textblock В нашем мире только ленивый человек не пробовал похудеть. Даже если у него недостаток веса
					div.tags-wrapper
						a(href="#") диетология,
						a(href="#") гастроэнерология
			//Строка на три блока
			div.row-flex
				//Блок одной статьи
				div.col-4.article-block
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Что вам угрожает в кабинете у стоматолога
					div.textblock Современные врачи-стоматологи относятся тщательно к дезинфекции своих кабинетов и инструментов
					div.tags-wrapper
						a(href="#") стоматология,
						a(href="#") другое
				//Блок одной статьи
				div.col-4.article-block
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Мои бессонные ночи, или как уснуть без овец
					div.textblock А кто вы по национальности сна? Ученые провели исследование и выяснили, что время и место сна отличается у жителей разных стран
					div.tags-wrapper
						a(href="#") дримология
				//Блок одной статьи
				div.col-4.article-block
					img(src='#{srcPath}img/doctor-photos/article1.jpg')
					a.article-link(href="#") Диеты и женское здоровье: профессиональный подход
					div.textblock В нашем мире только ленивый человек не пробовал похудеть. Даже если у него недостаток веса
					div.tags-wrapper
						a(href="#") диетология,
						a(href="#") гастроэнерология


			//Кнопка "Загрузить ещё" - загрузка вероятно должна реализовываться при помощи аякс-запросов
			div.clinic-tiles--hide-toggle.more-articles
				a.-pseudo-.-link-wrap-(href='#')
					span.spoiler-toggle Загрузить ещё статьи


		//Колонка со ссылками
		div.col-3
			//Баннер-слайдер
			div.banner-slider
				a(href="#").banner-block
					img(src='#{srcPath}img/content/banner.jpg')
					div.banner-inner Консультация стоматолога 
						br 
						|со скидкой 25%
						//Специальный класс открывает форму записи
						span.btn.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="&lt;p&gt; &lt;b&gt;Только до 15 октября 2015 года&lt;/b&gt; получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.&lt;/p&gt; &lt;p&gt; Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.&lt;/p&gt;" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
						
				//Вариант баннера с белым текстом
				a(href="#").banner-block.white-text
					img(src='#{srcPath}img/content/banner2.jpg')
					div.banner-inner Скидка 15% 
						br
						|на лазерное
						br
						|отбеливание зубов
						//Специальный класс открывает форму записи
						span.btn.action-toggle(href="#" data-book-info="Лазерное отбеливание со скидкой 15%" data-book-about="<p><b>Только до 15 октября 2015 года</b>; получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p>; <p>; Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>;" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
