include ../mixins/doc-tile

div.doc-gallery-wrap
	div.doc-gallery#doc-gallery
		//Блок конкретного доктора
		div.doc-gallery--item
			//Видеоблок
			div.video-wrapper
				div.video-overblock
				div.video-frame
					<iframe src="https://player.vimeo.com/video/140303762?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//Открыть видео
				span.video-button
			//О докторе
			div.doctor-info
				a(href="#").doctor-name Агафонова Галина Владимировна
				ul.doctor-skills
					li кандидат медицинских наук
					li ведущий специалист
					li урология
				div.flags
					img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка" alt="")
					img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния" alt="")
					img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия" alt="")
				div.textblock 
					| <b>Стаж работы:</b>
					br
					| <i>15 лет</i>
			a(href="#").all-doctors-link Все врачи клиники
		//Блок конкретного доктора
		div.doc-gallery--item
			//Видеоблок
			div.video-wrapper
				div.video-overblock
				div.video-frame
					<iframe src="https://player.vimeo.com/video/140303762?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//Открыть видео
				span.video-button
			//О докторе
			div.doctor-info
				a(href="#").doctor-name Громова Евгения Игоревна
				ul.doctor-skills
					li кандидат медицинских наук
					li ведущий специалист
					li урология
				div.flags
					img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка" alt="")
					img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния" alt="")
					img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия" alt="")
				div.textblock 
					| <b>Стаж работы:</b>
					br
					| <i>15 лет</i>
			a(href="#").all-doctors-link Все врачи клиники
		//Блок конкретного доктора
		div.doc-gallery--item
			//Видеоблок
			div.video-wrapper
				div.video-overblock
				div.video-frame
					<iframe src="https://player.vimeo.com/video/140303762?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//Открыть видео
				span.video-button
			//О докторе
			div.doctor-info
				a(href="#").doctor-name Горькова Ирина Владимировна
				ul.doctor-skills
					li кандидат медицинских наук
					li ведущий специалист
					li урология
				div.flags
					img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка" alt="")
					img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния" alt="")
					img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия" alt="")
				div.textblock 
					| <b>Стаж работы:</b>
					br
					| <i>15 лет</i>
			a(href="#").all-doctors-link Все врачи клиники
		//Блок конкретного доктора
		div.doc-gallery--item
			//Видеоблок
			div.video-wrapper
				div.video-overblock
				div.video-frame
					<iframe src="https://player.vimeo.com/video/140303762?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//Открыть видео
				span.video-button
			//О докторе
			div.doctor-info
				a(href="#").doctor-name Громова Евгения Игоревна
				ul.doctor-skills
					li кандидат медицинских наук
					li ведущий специалист
					li урология
				div.flags
					img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка" alt="")
					img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния" alt="")
					img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия" alt="")
				div.textblock 
					| <b>Стаж работы:</b>
					br
					| <i>15 лет</i>
			a(href="#").all-doctors-link Все врачи клиники
		//Блок конкретного доктора
		div.doc-gallery--item
			//Видеоблок
			div.video-wrapper
				div.video-overblock
				div.video-frame
					<iframe src="https://player.vimeo.com/video/140303762?color=ffffff&title=0&byline=0&portrait=0&badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				//Открыть видео
				span.video-button
			//О докторе
			div.doctor-info
				a(href="#").doctor-name Горькова Ирина Владимировна
				ul.doctor-skills
					li кандидат медицинских наук
					li ведущий специалист
					li урология
				div.flags
					img.show-text(src='#{srcPath}img/icons/jamaica.png' data-text="Ямайка" alt="")
					img.show-text(src='#{srcPath}img/icons/romania.png' data-text="Румыния" alt="")
					img.show-text(src='#{srcPath}img/icons/croatia.png' data-text="Хорватия" alt="")
				div.textblock 
					| <b>Стаж работы:</b>
					br
					| <i>15 лет</i>
			a(href="#").all-doctors-link Все врачи клиники

	div.doc-gallery-nav#doc-gallery-nav
		//Карточка врача
		div.doc-tile.doctor-signature.clear
			//Фото
			div.doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Агафонова Галина Владимировна')
			//Описание
			div.about-doctor
				//Имя
				div.doctor-name Агафонова Галина Владимировна
				//Список специализаций
				ul.doctor-special-list
					li стоматолог-терапевт
		//Карточка врача
		div.doc-tile.doctor-signature.clear
			//Фото
			div.doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Громова Евгения Игоревна')
			//Описание
			div.about-doctor
				//Имя
				div.doctor-name Громова Евгения Игоревна
				//Список специализаций
				ul.doctor-special-list
					li 
						b ведущий специалист
					li заведующий отделением урологии
		//Карточка врача
		div.doc-tile.doctor-signature.clear
			//Фото
			div.doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Громова Евгения Игоревна')
			//Описание
			div.about-doctor
				//Имя
				div.doctor-name Горькова Ирина Владимировна
				//Список специализаций
				ul.doctor-special-list
					li гинеколог
					li криогинеколог
		//Карточка врача
		div.doc-tile.doctor-signature.clear
			//Фото
			div.doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Громова Евгения Игоревна')
			//Описание
			div.about-doctor
				//Имя
				div.doctor-name Громова Евгения Игоревна
				//Список специализаций
				ul.doctor-special-list
					li 
						b ведущий специалист
					li заведующий отделением урологии
		//Карточка врача
		div.doc-tile.doctor-signature.clear
			//Фото
			div.doctor-block
				a(href="#")
					img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Громова Евгения Игоревна')
			//Описание
			div.about-doctor
				//Имя
				div.doctor-name Горькова Ирина Владимировна
				//Список специализаций
				ul.doctor-special-list
					li гинеколог
					li криогинеколог