div.equipment-gallery
	div.gallery#equipment-gallery
		div.gallery--item
			div.dot-notes
				div.dot-note(style='left: 180px; top: 150px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
				div.dot-note(style='left: 430px; top: 460px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Маммография с 3D томосинтезом - только в клинике «Садко»!
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			div.dot-note(style='left: 180px; top: 150px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			div.dot-note(style='left: 430px; top: 460px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title &laquoЗеленая&raquo; томография в стоматологии на ул. Пискунова
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование другое.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title 4D ультра-звуковое исследование с эластографией
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на ещё одно обследование.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Стоматология под общим наркозом
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Имплантация, гарантия 80 лет
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Стоматология под общим наркозом
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Имплантация, гарантия 80 лет
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			div.dot-notes
				div.dot-note(style='left: 180px; top: 150px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
				div.dot-note(style='left: 430px; top: 460px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Маммография с 3D томосинтезом - только в клинике «Садко»!
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			div.dot-note(style='left: 180px; top: 150px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			div.dot-note(style='left: 430px; top: 460px', title='25 кратная детализация изображения, стереотаксическая биопсия и интеллектуальные механизмы контроля качества ')
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title &laquoЗеленая&raquo; томография в стоматологии на ул. Пискунова
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование другое.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title 4D ультра-звуковое исследование с эластографией
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на ещё одно обследование.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Стоматология под общим наркозом
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Имплантация, гарантия 80 лет
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Стоматология под общим наркозом
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%
		div.gallery--item
			img.equipment-gallery--img(src='#{srcPath}img/equipment-gallery/1.jpg' alt="")
			div.equipment-gallery--tip
				h1.equipment-gallery--tip--title Имплантация, гарантия 80 лет
				div.equipment-gallery--tip--content
					p Уникальное инновационное оборудование для диагностики рака груди на самой ранней стадии — SIEMENS MAMMOMAT с 3D томосинтезом! В данный момент в России только 2 таких маммографа: один находится в Москве, другой — в Центре маммологии «Садко» в Нижнем Новгороде.
				a.btn.book-toggle(href='#' data-book-info="Записаться на обследование" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет на обследование такое-то.") Обследование со скидкой 25%

	div.equipment-gallery--nav#equipment-gallery-nav
		div.equipment-gallery--nav--item
			span Маммография с 3D тамосинтезом
		div.equipment-gallery--nav--item
			span &laquoЗеленая&raquo; томография в стоматологии на ул. Пискунова
		div.equipment-gallery--nav--item
			span 4D ультра-звуковое исследование с эластографией
		div.equipment-gallery--nav--item
			span Стоматология под общим наркозом
		div.equipment-gallery--nav--item
			span Имплантация, гарантия 80 лет
		div.equipment-gallery--nav--item
			span Стоматология под общим наркозом
		div.equipment-gallery--nav--item
			span Имплантация, гарантия 80 лет
		div.equipment-gallery--nav--item
			span Маммография с 3D тамосинтезом
		div.equipment-gallery--nav--item
			span &laquoЗеленая&raquo; томография в стоматологии на ул. Пискунова
		div.equipment-gallery--nav--item
			span 4D ультра-звуковое исследование с эластографией
		div.equipment-gallery--nav--item
			span Стоматология под общим наркозом
		div.equipment-gallery--nav--item
			span Имплантация, гарантия 80 лет
		div.equipment-gallery--nav--item
			span Стоматология под общим наркозом
		div.equipment-gallery--nav--item
			span Имплантация, гарантия 80 лет