//Принципы Садко

div.rules-wrapper
	div.row-flex
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Законность
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/atmosphere.png')
			//Текстовый блок
			div.textblock Вас встретят улыбкой и помогут разобраться с проблемой. Даже за 10 минут до закрытия клиники.
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Забота о пациенте
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/methods.png')
			//Текстовый блок
			div.textblock САДКО — технологичная клиника. Мы используем только современные методики лечения и диагностики. Разрабатываем авторские программы.
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Квалификация сотрудников
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/safety.png')
			//Текстовый блок
			div.textblock Мы являемся частью мирового медицинского сообщества и применяем только безопасные технологии, сертифицированные Минздравом РФ.
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Корпоративность
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/check.png')
			//Текстовый блок
			div.textblock Люди иногда ошибаются, система не ошибается никогда. Качество лечения — основа существования клиники.

	div.row-flex
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Лидерство
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/stars.png')
			//Текстовый блок
			div.textblock Лечение — очень личный процесс. Знать о состоянии здоровья могут только пациент и его лечащий врач. Остальным здесь делать нечего. 
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Технологичность
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/sales.png')
			//Текстовый блок
			div.textblock «Здоровье дороже всего» — отличная поговорка для дилетантов в медицинском бизнесе. Мы умеем экономить и делаем здоровье доступным человеку с любым достатком.
		//Блок принципа
		div.col-3.rules-block
			//Заголовок с иконкой
			div.rules-header
				div.rules-name Золотой стандарт обслуживания
				div.rules-icon
					img(src='#{srcPath}img/sadko-principles/sales.png')
			//Текстовый блок
			div.textblock «Здоровье дороже всего» — отличная поговорка для дилетантов в медицинском бизнесе. Мы умеем экономить и делаем здоровье доступным человеку с любым достатком.
