div.technologies-wrapper
	div.row-flex
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/plomba.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Пломбировочные материалы
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль. Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про пломбировочные материалы

		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/implant.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Системы имплантов
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про системы имплантов
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/bleach.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Технологии отбеливания
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про технологии отбеливания

div.technologies-wrapper.technologies-hidden.-dn-
	div.row-flex
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/plomba.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Пломбировочные материалы
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль. 
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про пломбировочные материалы

		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/implant.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Системы имплантов
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про системы имплантов
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/bleach.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Технологии отбеливания
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про технологии отбеливания
//Кнопка "Показать ещё" - открывает скрытые блоки технологий
div.clinic-tiles--hide-toggle.more-technologies
	a.-pseudo-.-link-wrap-.open-hidden-technologies(href='#')
		span.spoiler-toggle Показать ещё