div.technologies-wrapper

	//Три столбца
	div.row-flex
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/plomba.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Пломбировочные материалы
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль. Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про пломбировочные материалы

		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/implant.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Системы имплантов
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про системы имплантов
		div.col-4
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/bleach.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Технологии отбеливания
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про технологии отбеливания

	//Четыре столбца
	div.row-flex
		div.col-3
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/vinirs.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Виниры
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль. Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про виниры

		div.col-3
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/tomography.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Протезированные мини-импланты
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про мини-импланты
		div.col-3
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/vinirs.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Лечение под микроскопом
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про микроскоп

		div.col-3
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/tomography.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Компьютерная томография
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про томографию

	//Два столбца
	div.row-flex
		div.col-6
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/ceramic.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology PH-метрия
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль. Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про виниры

		div.col-6
			//Блок технологии
			div.technology-block
				//Фотография
				img(src="#{srcPath}img/technology/ceramic.jpg")
				//Нижний блок
				div.bottom-block
					//Название
					div.technology-name-wrapper.top
						div.technology-name 
							span.technology Безметалловая керамика
							button.top-button
					//Блок с текстом
					div.technology-scroll
						div.about-technology.textblock Отбеливание зубов обычно производится путем воздействия перекиси водорода (H2O2) на дентин зуба (который располагается непосредственно под эмалью). Когда перекись водорода проникает сквозь эмаль, пигментация в дентинных канальцах окисляется, и появляется белый цвет, который просвечивает через полупрозрачную эмаль.
					//Название
					div.technology-name-wrapper
						div.technology-name 
							a(href="#").more-link Статья про безметалловую керамику
