div.photo-slider
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v1.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v2.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v3.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v4.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v2.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
	a.open-video.link-block(href='http://vimeo.com/9532951')
		img(src="#{srcPath}img/content/v3.jpg" alt="")
		div.textblock 
			span Центр женского здоровья &laquoСадко&raquo; на пр. Ленина
