extends ../layout-inner

include ../mixins/review
include ../mixins/clinic-tile
include ../mixins/mini-doc-review

block title
	| Отзывы
block content
	.contents.reviews-page

		h1.page-header Отзывы и вопрос-ответ

		//Стартовый блок
		.doc-hello
			.doctor-block.full-manager
				img.doctor-photo(src='#{srcPath}img/content/full-director.jpg', alt='')
				//О докторе
				div.about-doctor.-text-center-
					//Имя
					div.doctor-name
						span Соловьёва Наталья Анатольевна
					//Должности руководителя
					ul.doctor-special-list
						li Генеральный управляющий сети клиник «САДКО»
					a(href="#" data-modal-header="У вас есть вопрос?"  data-modal-subheader="Задайте свой вопрос" data-modal-text="Это здорово! Мы очень хотим развиваться и прислушиваемся к любым предложениям. Если идея окажется стоящей, приглашу вас на ужин за мой счет" data-modal-button="Задать вопрос" data-modal-answer="Мы приняли ваше мнение, и обязательно свяжемся в случае чего.").btn.manager-toggle Написать руководству

			//Приветственный текст
			.doc-hello--content.textblock.clear
				h3.doc-hello--content--title Друзья, здравствуйте!
				
				p Я один из руководителей клиники «Садко» и более 10 лет занимаюсь вопросами качества оказания услуг в нашей клинике. Здесь, на нашем сайте у нас с вами есть настоящая возможность пообщаться. О вас. И о нас.	За несколько лет существования этой страницы мы получили более 2 тысяч ваших писем. Ни одно из ваших сообщений не осталось без внимания. На ваши вопросы (кроме меня) отвечали доктора, управляющие, администраторы, директора клиник. Вы благодарили нас и мы искренне радовались, вы спрашивали — мы отвечали, вы просили совета — мы искали правильный выход вместе с вами! 

				p Особенно мы хотим поблагодарить тех наших пациентов, которые честно признавались, когда были недовольны нашей работой. Спасибо вам за то, что вы писали именно нам, а не уходили, затаив обиду или непонимание. Спасибо, что обращались именно к нам за профессиональной трактовкой ситуации. Потому что в медицине нет места кулуарным мнениям и «свободным высказываниям». Есть только индивидуальный подход и профессиональная медицинская оценка. Потому что в медицине нет места кулуарным мнениям и «свободным высказываниям». Есть только индивидуальный подход и профессиональная медицинская оценка. Потому что в медицине нет места кулуарным мнениям и «свободным высказываниям». Есть только индивидуальный подход и профессиональная медицинская оценка.

				p Все письма, которые мы получаем, для нас означают самое главное — вы доверяете нам! Мы все так же открыты к общению. Ждем ваших писем и сообщений. И не важно — являетесь ли вы пациентом клиники «Садко» или просто нуждаетесь в профессиональном медицинском совете — мы всегда открыты к общению.

				p <i>Спасибо вам за то, что вы с нами!</i>
		
		//Блок с отзывами
		.row-flex

			//Колонка отзывов (основная)
			.col-9
				//Поиск по отзывам
				form.reviews-search-form.clear
					input.search-textfield(type="text" placeholder="Найти")
					input.search-button(type="submit" value="")

				//Фильтр отзывов
				div.filter-wrapper.clear
					//Сам фильтр
					div.page-filter
						span.filter-name Отфильтровать
						
						//Список
						span.filter-block-wrapper
							span.filter-open-button По фамилии врача
							//Список фамилий
							div.filter-block
								div.closed Закрыть
								div.filter-list-wrapper.column-list
									div.filter-list
										div.row-flex
											div.col-3
												div.letter A
												ul
													li
														a(href="#") Агафонова Г.В.
													li
														a(href="#") Александров А.Ю.
													li
														a(href="#") Андронова И.А.
													li
														a(href="#") Антипова А.В.
													li
														a(href="#") Антонова Ю.В.
													li
														a(href="#") Артемьева С.В.
													li
														a(href="#") Аскерова Г.К.
											div.col-3
												div.letter Б
												ul
													li
														a(href="#") Бабинцева М.Г.
													li
														a(href="#") Багдасарян А.А.
													li
														a(href="#") Багдасарян Р.А.
													li
														a(href="#") Бакланов М.В.
													li
														a(href="#") Барышева Г.Н.
													li
														a(href="#") Бахметьев О.А.
													li
														a(href="#") Белоусова Е.Ю.
													li
														a(href="#") Беляков С.А.
													li
														a(href="#") Бердникова Т.А.
													li
														a(href="#") Березина Е.Б.
													li
														a(href="#") Благодатина Л.В.
													li
														a(href="#") Богданович О.В.
													li
														a(href="#") Бойкова Р.А.
													li
														a(href="#") Боровкова Ю.Ю.
													li
														a(href="#") Бортникова Е.В.
													li
														a(href="#") Брикман А.Э.
													li
														a(href="#") Бугрова О.М.
													li
														a(href="#") Бунакова Н.Н.
													li
														a(href="#") Буяло Е.В.
													li
														a(href="#") Буянова М.Н.
											div.col-3
												div.letter В
												ul
													li
														a(href="#") Ванцинова Е.В.
													li
														a(href="#") Ващанов С.В.
													li
														a(href="#") Веселов Д.В.
													li
														a(href="#") Владимирова В.Г.
													li
														a(href="#") Вопилов Ю.Л.
													li
														a(href="#") Воронина А.И.
											div.col-3
												div.letter Г
												ul
													li
														a(href="#") Гаврилова Е.П.
													li
														a(href="#") Гадалов А.П.
													li
														a(href="#") Гадалова Н.И.
													li
														a(href="#") Газаров А.А.
													li
														a(href="#") Гайдученко О.А.
													li
														a(href="#") Галкина К.И.
													li
														a(href="#") Гаранина Е.В.
													li
														a(href="#") Гвалия М.М.
													li
														a(href="#") Гимранов Р.Ю.
													li
														a(href="#") Голованова Т.П.
													li
														a(href="#") Горбатова Л.И.
													li
														a(href="#") Горбачев А.В.
						span.filter-block-wrapper
							span.filter-open-button По филиалу
							//Список тем
							div.filter-block
								div.closed Закрыть
								//Список в одну колонку
								div.filter-list-wrapper
									div.filter-list
										ul
											li
												a(href="#") Стоматология на Варварке
											li
												a(href="#") Гастроэнтерология на Сормовском
											li
												a(href="#") Женское здоровье
											li
												a(href="#") Мужское здоровье
											li
												a(href="#") Педиатрия
											li
												a(href="#") Работа поликлиники
											li
												a(href="#") Наши достижения

				//Блок отзыва
				.review
					div.name 12 ноября 2015 г., Ирина, 27 лет
					div.review-header К какому врачу?
					//Отзыв или вопрос
					div.textblock.review-text
						p Начал болеть левый бок (прямо за ребрами). Болит не понятно что — толи сердце, толи легкое, толи нерв какой то защемился? Пожалуйста, подскажите, к какому врачу правильно обратиться? 
					//Блок ответа
					div.answer-block
						div.review-doctor-name Отвечает 
							a.blue-link(href="#") К.С. Константинопольский
						div.textblock 
							p Судя потому, как Вы описали жалобы, предполагаю, что у Вас межреберная невралгия (защемление межреберного нерва). Для постановки точного диагноза и назначения эффективного лечения, Вам необходимо проконсультироваться у невролога. Ирина, мы приглашаем Вас в центр неврологии и реабилитации, расположенный <a href="#" class="open-hidden">...</a>
							
							//Этот блок скрыт и открывается по клику на ссылку с классом .open-hidden
							div.hidden-block.-dn-
								p по адресу ул. Родионова, 199. Стоимость первичной консультации невролога - 880 рублей, последующих - 780 рублей. Консультация ведущего невролога клиники - 1100 рублей, повторная консультация ведущего специалиста - 850 рублей.
								p Ирина, мы работаем по предварительной записи, записаться на прием Вы можете по телефону 4-120-777 или оставьте свои контактные данные, мы свяжемся с Вами и подберем удобное время для приема.
						a.more-info.open-hidden.blue-link(href="#" data-opened-text="Свернуть") Читать полностью

					//Блок подписи доктора. Может быть два, поэтому обёртнуто соответствующим образом
					div.row-flex
						div.col-6
							//Подпись доктора
							div.doctor-signature.clear
								//Фото и видео-кнопка
								div.doctor-block
									a(href="#")
										img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Покровский Михаил Юрьевич')
									//Блок с описанием
									div.about-doctor-wrapper
										//Кнопки
										div.button-wrapper
											a.button.open-video(href='http://vimeo.com/9532951')
												div.button-block.video
													i.icon
								//Описание
								div.about-doctor
									//Имя
									div.doctor-name
										a(href="#") Константин Сергеевич Константинопольский
									//Список специализаций
									ul.doctor-special-list
										li 
											b Главный врач
										li Заведующий отделением

				//Блок отзыва
				.review
					div.name 29 октября 2015 г., Анна, 25 лет
					div.review-header Гинекологу
					//Отзыв или вопрос
					div.textblock.review-text
						p Здравствуйте! подскажите, что мне надо сдать, чтобы выявить скрытые инфекции на подобии кишечной палочки, стафилаккоки и т.д. и когда лучше сдать, так как последнюю свечу я вставляла 15 августа.
							br
							| И сколько стоит ВПЧ по женской части. Заранее спасибо.
					//Блок ответа
					div.answer-block
						div.review-doctor-name Отвечает 
							a.blue-link(href="#") Н.В. Астраханова
						div.textblock 
							p Чтобы выявить скрытые инфекции, рекомендуем Вам сдать анализ «Исследование биоциноза влагалища с определением чувствительности к антибиотикам». Стоимость данного бак посева 1120 р. Проводить контрольное обследование после пройденного лечения Вам уже можно ... <a href="#" class="open-hidden">...</a>
							
							//Этот блок скрыт и открывается по клику на ссылку с классом .open-hidden
							div.hidden-block.-dn-
								p по адресу ул. Родионова, 199. Стоимость первичной консультации невролога - 880 рублей, последующих - 780 рублей. Консультация ведущего невролога клиники - 1100 рублей, повторная консультация ведущего специалиста - 850 рублей.
								p Ирина, мы работаем по предварительной записи, записаться на прием Вы можете по телефону 4-120-777 или оставьте свои контактные данные, мы свяжемся с Вами и подберем удобное время для приема.
						a.more-info.open-hidden.blue-link(href="#" data-opened-text="Свернуть") Читать полностью
						
					//Блок подписи доктора. Может быть два, поэтому обёртнуто соответствующим образом
					div.row-flex
						div.col-6
							//Подпись доктора
							div.doctor-signature.clear
								//Фото и видео-кнопка
								div.doctor-block
									a(href="#")
										img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Астраханова Нина Васильевна')
									//Блок с описанием
									div.about-doctor-wrapper
										//Кнопки
										div.button-wrapper
											a.button.open-video(href='http://vimeo.com/9532951')
												div.button-block.video
													i.icon
								//Описание
								div.about-doctor
									//Имя
									div.doctor-name
										a(href="#") Астраханова Нина Васильевна
									//Список специализаций
									ul.doctor-special-list
										li Акушер-гинеколог
										li
											a.manager-toggle(href="#" data-modal-header="У вас есть вопрос?"  data-modal-subheader="Задайте свой вопрос" data-modal-text="Это здорово! Мы очень хотим развиваться и прислушиваемся к любым предложениям. Если идея окажется стоящей, приглашу вас на ужин за мой счет" data-modal-button="Задать вопрос" data-modal-answer="Мы приняли ваше мнение, и обязательно свяжемся в случае чего.") Написать руководству
				
				//Блок отзыва
				.review.-favorite-
					div.name 23 котября 2015 г., Елена 35 лет
					div.review-header Благодарность Садко
					//Отзыв или вопрос
					div.textblock.review-text
						p Добрый вечер, уважаемое Садко!
						p Спасибо тебе, что ты есть. Уже столько лет ты поддерживаешь и спасаешь меня в главные моменты моей жизни! Огромное спасибо всему твоему отзывчивому руководству и чуткому вежливому приветливому персоналу. Нигде никогда я не встречала ничего подобного.
						p И сегодня ты был на высоте.
						p Сегодня 1 сентября, у всех праздник, а у нас приключилась беда. Я грохнулась на абсолютно ровном месте прямо посреди клиники да ещё с малюсенькой дочуркой на руках! Малышка очень сильно стукнулась головой. Если бы не добрейшие люди, окружившие нас с дочкой заботой и вниманием! Не могу передать, насколько я благодарна им!!! Даже обычный пациент, девушка со своей дочкой, сидевшая неподалёку и ставшая очевидцем происшествия, так помогла и поддержала - не передать словами. Обходительность докторов, медсестёр и управляющей Натальи Александровны, целый консилиум врачей вокруг нас с дочкой! К моему величайшему стыду, среди этих добрых отзывчивых людей большинство я даже не знала по имени, кто они, какая специальность. Мне очень неловко, что вот так неуклюже вторглась в ваш размеренный ритм жизни и отвлекла от работы, порушила планы, привлекла к себе столько внимания. Хочется отдельно поблагодарить каждую добрую женщину, что общалась с нами и уделила столько заботы и внимания! А Вам, Наталья Александровна, просто низкий поклон! Если бы не Вы, не знаю, чтоб я делала и куда бежала... Всю ситуацию Вы сразу взяли под свой контроль и даже лично возили нас на своём транспорте на обследование. После таких происшествий начинаешь понимать, в чём заключается великая сила и восходящий успех клиники - в её преданных и ответственных сотрудниках.
						p Это то, к чему нам всем нужно стремиться.
						p Благодарю Бога, что с доченькой всё хорошо, обошлось синячком, и ругаю себя за неосторожность! Мне очень неудобно, что это всё произошло!!!
						p PS: Уважаемая Наталья Анатольевна, на Ваше усмотрение, если Вы считаете, что не стоит опубликовывать мой рассказ - тогда не надо. Я, честно говоря, не знаю, может быть Вы не хотели предавать огласке это событие.... В любом случае моя благодарность Наталье Александровне и докторам бесконечна! Просто меня всё ещё трясёт от всего произошедшего. Или откорректируйте текст как Вы считаете нужным, пожалуйста. Мне очень неудобно, что это всё произошло!!!
					//Блок ответа
					div.answer-block
						div.review-doctor-name Отвечает 
							a.blue-link(href="#") Н.В. Соловьёва
						div.textblock 
							p Ольга, добрый день! Мне очень жаль, что произошла такая ситуация. И я очень рада, что наши сотрудники поддержали Вас, и, чем могли, помогли Вам. Спасибо Вам за слова благодарности в их адрес! Нам всем это очень важно. Обязательно передадим Ваши слова благодарности всему коллективу клиники <a href="#" class="open-hidden">...</a>

							//Этот блок скрыт и открывается по клику на ссылку с классом .open-hidden
							div.hidden-block.-dn-
								| на Родионова. Здоровья Вам, Вашей доченьке и всей семье!
						a.more-info.open-hidden.blue-link(href="#" data-opened-text="Свернуть") Читать полностью
							

						
					//Блок подписи доктора. Может быть два, поэтому обёртнуто соответствующим образом
					div.row-flex
						div.col-6
							//Подпись доктора
							div.doctor-signature.manager.clear
								//Фото и видео-кнопка
								div.doctor-block
									img.doctor-photo(src='#{srcPath}img/content/full-director.jpg', alt='Соловьёва Наталья Анатольевна')

								//Описание
								div.about-doctor
									//Имя
									div.doctor-name
										| Соловьёва Наталья Анатольевна
									//Список специализаций
									ul.doctor-special-list
										li Генеральный управляющий сети клиник «САДКО»
										li
											a.manager-toggle(href="#" data-modal-header="У вас есть вопрос?"  data-modal-subheader="Задайте свой вопрос" data-modal-text="Это здорово! Мы очень хотим развиваться и прислушиваемся к любым предложениям. Если идея окажется стоящей, приглашу вас на ужин за мой счет" data-modal-button="Задать вопрос" data-modal-answer="Мы приняли ваше мнение, и обязательно свяжемся в случае чего.") Написать руководству

				//Блок отзыва
				.review
					div.name 21 августа 2015 г., Валентина, 21 год
					div.review-header Маммолог
					//Отзыв или вопрос
					div.textblock.review-text Была на приеме у врача Ершова (маммолога). Врача выбирала по отзывам и не прогадала. Все рассказал, объяснил, сделал узи и показал что там и как. Развеял все слухи и сомнения. Рекомендую данного врача.
					//Блок ответа
					div.answer-block
						div.review-doctor-name Отвечает 
							a.blue-link(href="#") Е.И. Громова
						div.textblock Валентина, большое спасибо за добрые слова! Мы обязательно передадим их Александру Сергеевичу! Нам очень приятно, что врач нашей клиники смог оправдать ваше доверие! Надеемся, что Ваш отзыв послужит ориентиром для других пациенток.
						
					//Блок подписи доктора. Здесь их два
					div.row-flex
						div.col-6
							//Подпись доктора
							div.doctor-signature.clear
								//Фото и видео-кнопка
								div.doctor-block
									a(href="#")
										img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Громова Евгения Игоревна')
									//Блок с описанием
									div.about-doctor-wrapper
										//Кнопки
										div.button-wrapper
											a.button.open-video(href='http://vimeo.com/9532951')
												div.button-block.video
													i.icon
								//Описание
								div.about-doctor
									//Имя
									div.doctor-name
										a(href="#") Громова Евгения Игоревна
									//Список специализаций
									ul.doctor-special-list
										li Ведущий специалист
										li Заведующий отделением
										li
											a.manager-toggle(href="#" data-modal-header="У вас есть вопрос?"  data-modal-subheader="Задайте свой вопрос" data-modal-text="Это здорово! Мы очень хотим развиваться и прислушиваемся к любым предложениям. Если идея окажется стоящей, приглашу вас на ужин за мой счет" data-modal-button="Задать вопрос" data-modal-answer="Мы приняли ваше мнение, и обязательно свяжемся в случае чего.") Написать руководству
						div.col-6
							//Подпись доктора
							div.doctor-signature.clear
								//Фото и видео-кнопка
								div.doctor-block
									a(href="#")
										img.doctor-photo(src='#{srcPath}img/doctor-photos/doctor1.jpg', alt='Ершов Александр Сергеевич')
									//Блок с описанием
									div.about-doctor-wrapper
										//Кнопки
										div.button-wrapper
											a.button.open-video(href='http://vimeo.com/9532951')
												div.button-block.video
													i.icon
								//Описание
								div.about-doctor
									//Имя
									div.doctor-name
										a(href="#") Ершов Александр Сергеевич
									//Список специализаций
									ul.doctor-special-list
										li Маммолог
										li Онколог-маммолог
										li Маммолог
										li Онколог-маммолог
										li Маммолог
										li Онколог-маммолог
										li Маммолог
										li Онколог-маммолог
				
				//Кнопка загрузки
				div.clinic-tiles--hide-toggle.more-reviews
					a.-pseudo-.-link-wrap-(href='#')
						span.spoiler-toggle Загрузить ещё отзывы

			//Боковая колонка
			.col-3
				//Задать вопрос
				form.text-panel.qa-form
					span.text-panel--title Отзыв или вопрос
					.text-panel--section
						//Это не пустой блок - сюда выводится текст ошибки
						div.error-text
						.qa-form--row
							label Ваше имя
							input(type='text').-border-input-.required-field
						.qa-form--row
							label Возраст
							input(type='text').-border-input-.required-field
						.qa-form--row
							label E-mail
							input(type='text').-border-input-.email-field
					.text-panel--section
						p
							strong Ваше сообщение
						textarea.autosize.question-text
					label.form--accept-checkbox.text-panel--section
						input(type='checkbox').check-radio
						span Я принимаю <a href='#' class='-link-turq-'>условия</a> обработки моих данных
					p
						a.btn.qa-form--submit.submit-btn Отправить сообщение
				div.text-panel.answer-form.-text-center-
					span.text-panel--title Спасибо за вопрос
					p Все вопросы мы передаём специалистам. В течение 24 часов у врачей обычно находится время, чтобы ответить. Если ваш вопрос не терпит отлагательств - пожалуйста, позвоните!

				h3 Отзывы о клиниках
				.clinic-tiles-wall
					+clinic-tile(9, 'ЦЕНТР ортодонтии «джем»', '', 2)
					+clinic-tile(4, 'Детская клиника «здоровенок»', '', 2)
					+clinic-tile(6, 'Детская стоматология «динозубрик»', '', 2)

				h3 Нас часто спрашивают
				ul.accordion
					li.spoiler-wrapper
						a.-pseudo-.spoiler-toggle(href='#') Какие анализы стоит сдать пациенту перед приемом у терапевта?
						.spoiler.text-panel.textblock Разные анализы
					li.spoiler-wrapper
						a.-pseudo-.spoiler-toggle(href='#') Сколько стоят основные стоматологические процедуры в клинике?
						.spoiler.text-panel.textblock Много
					li.spoiler-wrapper
						a.-pseudo-.spoiler-toggle(href='#') Какие виды скидок «Садко» предоставляет клиентам?
						.spoiler.text-panel.textblock Хорошие виды
					li.spoiler-wrapper
						a.-pseudo-.spoiler-toggle(href='#') Каким образом удаляются полипы и какие особенности у этой процедуры?
						.spoiler.text-panel.textblock По-всякому
					li.spoiler-wrapper
						a.-pseudo-.spoiler-toggle(href='#') Ведётся ли приём по полису ОМС?
						.spoiler.text-panel.textblock Ведется

				//Баннер-слайдер
				div.banner-slider
					div.banner-block
						img(src='#{srcPath}img/content/banner.jpg')
						div.banner-inner Консультация стоматолога 
							br 
							|со скидкой 25%
							//Специальный класс открывает форму записи
							a.btn.action-toggle(href="#" data-book-info="Консультация стоматолога со скидкой 25%" data-book-about="&lt;p&gt; &lt;b&gt;Только до 15 октября 2015 года&lt;/b&gt; получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.&lt;/p&gt; &lt;p&gt; Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.&lt;/p&gt;" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться
							
					//Вариант баннера с белым текстом
					div.banner-block.white-text
						img(src='#{srcPath}img/content/banner2.jpg')
						div.banner-inner Скидка 15% 
							br
							|на лазерное
							br
							|отбеливание зубов
							//Специальный класс открывает форму записи
							a.btn.action-toggle(href="#" data-book-info="Лазерное отбеливание со скидкой 15%" data-book-about="<p><b>Только до 15 октября 2015 года</b>; получите скидку 25% на терапевтические услуги во взрослой стоматологии «Садко» или детской стоматологии «Здоровёнок» на ул. Новая, 51.</p>; <p>; Приглашаем Вас посетить обновленный стоматологический комплекс «САДКО» в самом сердце Нижнего Новгорода — на площади Горького! Стоматология на площади Горького традиционно собрала лучшие инновационные наработки и многолетний опыт экспертов сети клиник «САДКО», которые по праву признаны ведущими специалистами региона.</p>;" data-book-answer="Ваша заявка принята. С вами свяжется наш администратор, назначит время приема и запишет к подходящему специалисту.") Записаться


block pageJS

