extends ../layout-inner
include ../mixins/quot


block title
	| Вся правда о САДКО
block content

	//Фиксированное меню
	div.fixed-menu
		a(href="#adults")
			div 
				span Взрослым
		a(href="#childrens")
			div 
				span Детям
		a(href="#nizhny")
			div 
				span Садко для Н.Новгорода
		a(href="#foreign")
			div 
				span Садко для иностранцев
		a(href="#russia")
			div 
				span Садко в России
		a(href="#world")
			div 
				span Садко в мире
		a(href="#innovations")
			div 
				span Инновации в Садко
		a(href="#friends")
			div 
				span Садко для друзей и партнеров

	//Видео блок
	div.video-section
		//Видео
		div.video-wrapper
			div.video-overblock
			div.video-button
			video(id='video' poster="#{srcPath}video/sadko-hd.jpg" preload loop)
				source(src="#{srcPath}video/sadko-hd.mp4" type="video/mp4")
				source(src="#{srcPath}video/sadko-hd.webm" type="video/webm")
				source(src="#{srcPath}video/sadko-hd.ogv" type="video/ogg")
				//object(type="application/x-shockwave-flash" data="#{srcPath}video/flashfox.swf" width="1920" height="1080" style="position:relative;")
					param(name="movie" value="#{srcPath}video/flashfox.swf")
					param(name="allowFullScreen" value="true")
					param(name="flashVars" value="autoplay=false&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=#{srcPath}video/first_screen_5.jpg&amp;src=first_screen_5.m4v")
					embed(src="#{srcPath}video/flashfox.swf" width="1920" height="1080" style="position:relative;" flashVars="autoplay=false&amp;controls=false&amp;fullScreenEnabled=false&amp;posterOnEnd=true&amp;loop=true&amp;poster=#{srcPath}video/first_screen_5.jpg&amp;src=first_screen_5.m4v" allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en")
					img(alt="first_screen_5" src="#{srcPath}video/first_screen_5.jpg" style="position:absolute;left:0;" width="100%" title="Video playback is not supported by your browser")
		//Контент
		div.contents
			//Заголовок
			h1.video-header Вся правда о САДКО

	//Контент
	div.contents.sadko-page

		h2#adults САДКО для всех

		//О поликлинике
		div.textblock 

			p Клиника «Садко» открыта в 1998 году. 4 июля 2015 годы мы отметили 17-ти летний юбилей. Достижение это безусловно важное — для пациентов, которые обслуживаются в клинике, надежного персонала, который значительную часть времени уделяет клинике, а также для жизни города: САДКО сегодня безусловный лидер в Нижнем Новгороде в части оказания населению качественных платных медицинских услуг.

			p В обычной жизни руководителей успешного бизнеса представляют в довольно неприглядном виде. Такие, знаете ли, нувориши не обремененные интеллектом. На неприлично дорогой машине, с пачками денег во всех карманах и плюющими на «обычного» человека. На вопрос: «Как бизнес стал успешным при таком подходе?» очень часто отвечают: «Повезло» или «Наворовали». Это не так. 

			//Две колонки
			div.row-flex
				div.col-9
					figure
						img(src='#{srcPath}img/content/sadko-11.jpg')
						figcaption 
							i 2013 г., открытие сормовского филиала клиники «САДКО», 11-ый по счету.
				div.col-3
					figure
						img(src='#{srcPath}img/content/sadko-98.jpg')
						figcaption 
							i 1998 г., ремонт в первом офисе «САДКО». Все приходилось делать своими руками. 

					div.num-wrapper
						span.num 25 
						span.text филиалов в разных районах города в 2015 году

			p Мы занимаемся бизнесом 17 лет и на своем опыте убедились: сделать бизнес успешным, можно только вкладывая в него громадное количество сил и энергии. Мы заботимся, мы реально работаем, мы долго находимся на работе, все ради того, чтобы не просто оказывать услугу, а чтобы создавать полезную идею, чтобы она была интересной и креативной. Идею,миссию, как мы ее называем, можно сформулировать так: «Мы делаем все, чтобы вы просто наслаждались жизнью!». Все наши последние события — 17 лет работы, увеличивающийся поток наших пациентов, говорят о том, что эта идея нужна пациентам, и это нас окрыляет. Самое главное — пациенты вдыхают в нас силы, позволяют нам не только финансово развиваться, но и дают эмоциональные, психологические силы для реализации новых проектов.

			//Цитата с фотографией
			div.quot-photo-wrapper
				img(src="#{srcPath}img/content/sokolov.jpg", alt="").quote-author-photo
				div.quot-text Я не только горжусь САДКО. Большего счастья нет для руководителя, когда он видит, что работа нужна, она приносит плоды, и люди довольны и счастливы. Тогда мы говорим что создана команда, которая способна решать любые задачи, действовать и достигать. Настоящая команда единомышленников. Мы работаем с людьми, которые беззаветно служат своему делу. И главное, что они лучшие в своем деле!
				div.quot-author Владимир Соколов, президент группы компаний «САДКО»

			p Все наши проекты были бы невозможны без работы с самоотдачей всего коллектива, работы слаженной и нужной, грамотно распределенной. Есть руководящий состав, он четко занимается своей задачей, выстраивает стратегию. Команда высококласных врачей «болеет» своим делом, тратит львиную долю своего времени на лечение и общение с пациентами, поиск инноваций, которые позволили бы оказывать дополнительные высококачественные услуги. Это вознаграждается прекрасными отзывами наших пациентов. Первична наша работа, все вместе работаем на единый результат, ради успеха нашего предприятия и здоровья наших пациентов.

		h2#childrens САДКО для маленьких пациентов

		div.textblock

			h3 Детская стоматология «Динозубрик»

			p Идея создания специализированного лечебного учереждения для наших небольших пациентов зародилась еще в 2000-ом году. Для претворения этих планов в жизнь потребовалось 6 лет. В 2006-ом открылась первая в Нижнем Новгороде десткая стоматология. Мы назвали ее «Динозубрик».

			p Процесс стоматологического лечения в нашей клинике построен с учетом возрастных особенностей ребенка. Перед приемом врача с детками работают веселый аниматор и заботливые администраторы, проводятся познавательные занятия, увлекательные игры и конкурсы! Каждый маленький пациент найдет себе занятие по душе. Ребята смогут проявить себя с творческой стороны - порисовать, изготовить поделки своими руками из пластилина, картона или бумаги, поиграть в компьютерные и настольные игры, понаблюдать за экзотическими животными в нашем мини-зоопарке и даже посетить уроки «Школы друзей Динозубрика»! Ежегодно мы с размахом отмечаем любимые праздники — Новый Год, День защиты детей, День знаний и День рождения Динозубрика!

		//Две колонки с уменьшенным шрифтом
		div.row-flex
			div.col-6.textblock.small-text
				h4 Инновационные методики обезболивания. Лечение во сне 
				p Наши специалисты — сторонники бережного, комфортного и безопасного лечения, поэтому у нас детки могут вылечить все зубы за одно посещение доктора «во сне» или полностью расслабиться и не чувствовать боли благодаря использованию «веселящего газа»;

				h4 Лазерная стоматология 
				p Позволяет проводить безболезненное деликатное лечение, в том числе и в сложных случаях, без повреждения здоровых тканей зуба. Бор-машина остается в прошлом — мы лечим без стресса и без боли!

				h4 Протезирование детских зубов 
				p Восстановление разрушенных зубов необходимо для предотвращения развития аномалий прикуса, нормального развития речи, хорошего пережевывания пищи и, конечно, возможности улыбаться здоровой, красивой улыбкой! 

				h4 Эстетика детской улыбки 
				p Мы формируем вкус к красивой улыбке с самого детства!

				h4 Профилактика
				p Широкий комплекс профилактических мероприятий, который предотвратит развитие бактерий в полости рта и не позволит «кариозным монстрам» разрушать зубки наших малышей!
			div.col-6.textblock.small-text

				figure
					img(src='#{srcPath}img/content/dino.jpg')
					figcaption 
						i В 2015 году десткой клинике «Динозубрик» исполнилось 11 лет

				h3 Полезные ссылки
				| Сайт «Динозубрика»  
				a(href="http://dino.sadkomed.ru/") http://dino.sadkomed.ru/ 
				br
				| Отзывы о клинике
				a(href="http://dino.sadkomed.ru/otzyvy") http://dino.sadkomed.ru/otzyvy
				br
				| Школа друзей «Динозубрика»  
				a(href="http://dino.sadkomed.ru/o-klinike/shkola-druzei- ...") http://dino.sadkomed.ru/o-klinike/shkola-druzei- ...

		div.textblock

			h3 Детская поликлиника «Здоровёнок»

			p Знаете ли Вы, что в некоторых клиниках Европы практикуется специальная лечебная методика — клоунотерапия? Хорошие эмоции, веселый смех — источник жизненной энергии и силы. К сожалению, именно этих эмоций так часто не хватает маленьким пациентам. Специалисты отмечают, что позитивный настрой и хорошее настроение ускоряют процесс выздоровления на 25-30%.

			p Очень важно, чтобы в период болезни дети как можно меньше концентрировались на грустных мыслях, не чувствовали себя изолированными от общества и привычного детского времяпровождения. Именно поэтому, мы постарались создать клинику, где сама атмосфера, процесс лечения и даже настроение сотрудников будут способствовать скорейшему выздоровлению.

			p И, конечно же, ребенку намного проще довериться доктору из сказочной «Страны Здоровья», чем строгому и серьезному врачу.

		include ../modules/promo-video

		h3.photo-gallery-header Фотогалерея
			
		div.photo-slider
			div.photo-block.link-block
				a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
					img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
				div.textblock Носорог. Нет, крокодил!
			div.photo-block.link-block
				a.image-link(href="#{srcPath}img/doctor-gallery/doctor-gallery.jpg")
					img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
				div.textblock Примерка спецодежды
			div.photo-block.link-block
				a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
					img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
				div.textblock Поездка за здоровьем
			div.photo-block.link-block
				a.image-link(href="#{srcPath}img/doctor-gallery/doctor-gallery.jpg")
					img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
				div.textblock Обнимашки перед уколом
			div.photo-block.link-block
				a.image-link(href="#{srcPath}img/doctor-gallery/1.jpg")
					img(src="#{srcPath}img/doctor-gallery/doctor-gallery.jpg" alt="")
				div.textblock Обнимашки перед уколом

		h2#nizhny САДКО для Нижнего Новгорода

		div.textblock

			p Как уже было сказано, клиника открылась в 1998 году. Для Нижнего Новгорода, как позже выяснилось, это стало отправной точкой в создании рынка качественных медицинских услуг. Квалифицированные специалисты получили возможность влиться в команду единомышленников и общими усилиями создавать медицину будущего. 

			p 1113 — столько человек, включая младший медицинский персонал, работает в клинике «САДКО» по данным за сентябрь 2015 года. Каждый сотрудник получает дополнительное образование в «Учебном центре», некоторые проходят обучение за рубежом и почти все повышают квалификацию в России. Мы бережем свою репутацию и поэтому качество, безопасность услуг, гарантия на выполненную работу — наши основные ориентиры.

		//Блок с фотографией и статистиков
		div.info-photo-wrapper#statisticNN
			img.bg-photo(src="#{srcPath}img/content/nizhny.jpg", alt="")

			img.statistic.statistic-numbers(src="#{srcPath}img/statistic.png", alt="")
			img.statistic.statistic-shadow(src="#{srcPath}img/statistic-shadow.png", alt="")

			//Информация
			span.statistic.statistic-info.-dn-(style="left: 56px;") Каждая третья пломба в Нижнем <br> Новгороде поставлена в «САДКО»
			span.statistic.statistic-info.-dn-(style="left: 353px;") Четыреста двадцать три тысячи человек посетили <br> клинику и получили помощь 
			span.statistic.statistic-info.-dn-(style="left: 773px;") Четыреста сорок тысяч лабораторных проб <br> проанализировал диагностический центр


		h2#foreign САДКО для Иностранных пациентов

		div.textblock

			p В 2010 году к нам впервые обратился за помощью пациент, ни слова не понимающий по-русски. В отеле, где он поселился, нас рекомендовали как лучшую в городе клинику, справедливо полагая, что уж у нас то точно есть англоговорящие специалисты. Мы действительно нашли врача, который свободно говорит по-английски, но было очевидно, что к такому обращению не были готовы ни девушки на ресепшене, ни сами врачи. 

			p Вот уже пять лет мы систематически оказываем услуги иностранцам. Почти в каждой клинике есть человек, который при необходимости объяснит и сопроводит гостя к нашим врачам. Попробуйте, ради интереса, задать вопрос на любом языке девушкам на ресепшене. Если вы продолжите общаться на выбранном языке, сможете увидеть нашу систему в действии и получите дополнительный сервис по сопровождению из кабинета в кабинет.

			p
				b Peace, brothers!

		h2#russia САДКО для России

		//Слайдер успеха компании
		include ../modules/success-slider

		div.textblock

		h2#world САДКО в мировой медицине

		div.textblock

			p В целях обмена опытом, а также с целью повышения качества услуг мы наладили сотрудничество со многими европейскими, американскими и японскими клиниками. Наши докотора регулярно ездят обучаться и обучать, а клиника принимает иностранных специалистов в «Учебном центре».

		//Карта обучения, стандартная
		include ../modules/learn-map

		h2#innovations Инновации в САДКО

		div.textblock

			p Все наши разработки, инновации, мысли направлены на то, чтобы создать беспрецедентную услугу: качественную, с использованием высокотехнологичного оборудования, с Бережным с большой буквы отношением к пациенту.  Для удобства наших пациентов мы работаем над новыми проектами САДКО в разных районах города: Автозавод, Сормово, Верхние Печеры и площадь Горького. Мощное оборудование, квалифицированные кадры, высокое качество лечения, а также невероятная экономия времени – вот основа новых филиалов. Все просто! Мы хотим дать пациенту новое качество жизни, хотим, чтобы он просто наслаждался жизнью. Все это не просто слова. Это позиция нашей компании.

		//Слайдер оборудования
		include ../modules/equipment-gallery

		h2#friends САДКО для друзей и партнёров

		div.textblock

			p Мы уже описывали наши принципы. Они связаны с качеством нашей работы и ответственности за все, что мы делаем. В нашем родном городе не так уж и много людей, разделяющих эти взгляды на жизнь. С одной стороны это плохо, т.к. бывает порой грсутно смотреть на неряшливо сделанную работу и довольное лицо «работяги», который искренне считает миссию завершенной. А с другой — нам проще находить друг друга. Один раз встретившись и поработав вместе — мы не потеряемся. Очень ценим наших партнеров, которые за годы работы стали друзьями.

			p Если по какой-то нелепой случайности мы о вас ничего не знаем, а вы разделяете наши принципы и готовы на совместные подвиги — ниже указаны телефон и электропочта. Вы знаете что делать.

			p 
				| <b>Телефон</b> — 8 900 555 66 77
				br
				| <b>Электропочта</b> — <a href="mailto:sadkoforfriends@sadkomed.ru">sadkoforfriends@sadkomed.ru</a>


		//Отзывы
		div.header-wrapper
			h2#reviewsBlock Отзывы о «САДКО»
			//Кнопка с вызовом попапа
			div.open-question-wrapper
				a.btn.btn-reverse-colors.open-question-popup(href="#") Добавить отзыв
				include ../modules/review-popup

		include ../modules/reviews-slider



//Персональные скрипты для этой страницы
//block pageJS