//Образование
div.doctor-education

	//Заголовок
	h2 Образование

	//Две колонки
	div.education-columns.clear

		//Базовое образование
		div.basic-education
			h3 Базовое образование
			div.textblock
				p В 1996 закончил Нижегородскую Государственную Медицинскую Академию. Является постоянным участником Международного конгресса «Квинтэссенция» г.Москва.
				p В клинике современных технологий «Садко» с 1998 г.

		//Колонка
		div.doctor-education-years
			//Год
			div.doctor-year-block
				div.year 2014 г.
				div.row-flex
					div.col-6
						div.textblock Теоретический и практический курс «Эстетическая и функциональная реабилитация. Выбор керамических материалов», г. Милан
						img.show-text.flag-image(src='#{srcPath}img/icons/italy.png' data-text="Италия")

					div.col-6.textblock
						div.textblock Международный конгресс «Мастера керамики: эстетика и функция несъемных реставраций», г. Сан-Франциско
						img.show-text.flag-image(src='#{srcPath}img/icons/usa.png' data-text="США")
			//Год
			div.doctor-year-block
				div.year 2013 г.
				div.row-flex
					div.col-6
						div.textblock Лектор в рамках внутриклинической конференции «Эстетические аспекты стоматологического лечения»
			//Год
			div.doctor-year-block
				div.year 2012 г.
				div.row-flex
					div.col-6
						div.textblock Мастер-класс «Эсетическая стоматология: минимальные инвазивные реставрации», г. Римини
						img.show-text.flag-image(src='#{srcPath}img/icons/italy.png' data-text="Италия")

			//Скрытая часть
			div.hover-block.-dn-
				//Год
				div.doctor-year-block
					div.year 2011 г.
					div.row-flex
						div.col-6
							div.textblock Теоретический и практический курс «Эстетическая и функциональная реабилитация. Выбор керамических материалов», г. Милан
							img.show-text.flag-image(src='#{srcPath}img/icons/italy.png' data-text="Италия")

						div.col-6.textblock
							div.textblock Международный конгресс «Мастера керамики: эстетика и функция несъемных реставраций», г. Сан-Франциско
							img.show-text.flag-image(src='#{srcPath}img/icons/usa.png' data-text="США")
				//Год
				div.doctor-year-block
					div.year 2010 г.
					div.row-flex
						div.col-6
							div.textblock Лектор в рамках внутриклинической конференции «Эстетические аспекты стоматологического лечения»
				//Год
				div.doctor-year-block
					div.year 2009 г.
					div.row-flex
						div.col-6
							div.textblock Мастер-класс «Эсетическая стоматология: минимальные инвазивные реставрации», г. Римини
							img.show-text.flag-image(src='#{srcPath}img/icons/italy.png' data-text="Италия")

			a.more-education.blue-link(href="#" data-opened-text="Краткая история образования доктора") Вся история образования доктора


		
		